body{
    background-color: black;
}




canvas {

    border: solid red;
    border-left: solid red 10px;
    border-right: solid red 10px;
    border-right-style:double;
    border-left-style:double;
    border-bottom: solid red 3px;
    border-top: solid red3px;
    background-color: white;

}

h1{
    color:  white;
    text-align: center;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

