body{
    background-image: url(./images/8172279.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#timer {
    position: absolute;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 140px;
    border: 10%;
    border-color: solid black;


}


#start {
    display: flex;
    align-items: flex-start;
}




canvas {

    border: solid black;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-top: solid 2px;

}


div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

